<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>商城-个人信息</title>
  <th:block th:replace="~{modules/common.html :: common_header}"></th:block>
</head>
<body class="d-flex flex-column justify-content-between min-vh-100">

<th:block th:replace="~{modules/header.html}"></th:block>

<main class="flex-grow-1 mt-3">
  <div class="container-fluid row">
    <th:block th:replace="~{modules/sidebar.html}"></th:block>

    <div class="content col-md-9 d-flex justify-content-center">
      <div class="form-horizontal col-10 col-md-6" id="register_form">
        <h3 class="form-title text-center">完善个人信息</h3>
        <form class="row needs-validation mt-3" id="update-form" novalidate>
          <div class="form-group row d-flex align-items-center">
            <label for="username" class="form-label col-sm-2">用户名</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="username" placeholder="请输入用户名" value="admin" disabled>
            </div>
          </div>
          <div class="form-group row mt-2 d-flex align-items-center">
            <label for="intro" class="form-label col-sm-2">个人简介</label>
            <div class="col-sm-10">
              <textarea class="form-control" id="intro" placeholder="请输入个人简介"></textarea>
            </div>
          </div>
          <div class="form-group row mt-2 d-flex align-items-center">
            <label for="phone" class="form-label col-sm-2">手机</label>
            <div class="col-sm-10">
              <div class="input-group">
                <input type="text" class="form-control" id="phone" placeholder="请输入手机号" value="" required>
                <div class="invalid-feedback">
                  请输入手机号
                </div>
              </div>
            </div>
          </div>
          <div class="form-group row mt-2 d-flex align-items-center">
            <label for="email" class="form-label col-sm-2">邮箱</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="email" placeholder="请输入邮箱" required>
              <div class="invalid-feedback">
                请输入邮箱
              </div>
            </div>
          </div>
          <div class="form-group row mt-2 d-flex align-items-center">
            <label class="form-label col-sm-2">性别</label>
            <div class="col-sm-10 d-flex align-items-center">
              <div class="form-check me-3">
                <input type="radio" class="form-check-input" id="boy" name="gender" value="0" checked >
                <label class="form-check-label" for="boy" >男</label>
              </div>
              <div class="form-check">
                <input type="radio" class="form-check-input" id="girl" name="gender" value="1" disabled>
                <label class="form-check-label" for="girl">女</label>
              </div>
            </div>
          </div>
          <div class="form-group row mt-2 d-flex align-items-center">
            <label for="id-card" class="form-label col-sm-2">身份证</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="id-card" placeholder="请输入身份证" required>
              <div class="invalid-feedback">
                请输入邮箱
              </div>
            </div>
          </div>
          <div class=" col-12 mt-4 text-center">
            <button class="btn btn-primary col-10 col-md-6" type="submit">更新</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>

<th:block th:replace="~{modules/footer.html}"></th:block>
</body>
<th:block th:replace="~{modules/common.html :: common_js}"></th:block>

<script>
  // init from

  user = JSON.parse(localStorage.getItem('user'));
  console.log(user)
  if (user) {
    $('#username').val(user.username);
    $('#intro').val(user.intro);
    $('#phone').val(user.tel);
    $('#email').val(user.email);
    $('#id-card').val(user.cardID);
  }

  // from submit
  $("#update-form").submit(function (event) {
    if (!this.checkValidity()) {
      event.preventDefault();
      event.stopPropagation();
      this.classList.add('was-validated');
    } else {
      event.preventDefault();

      const userData = JSON.parse(localStorage.getItem('user'));

      $.ajax({
        url: '/api/user/update',
        type: 'post',
        data: JSON.stringify({
          tel: $('#phone').val(),
          email: $('#email').val(),
          cardID: $('#id-card').val(),
          intro: $('#intro').val()
        }),
        headers: {
          'Authorization': localStorage.getItem('token')
        },
        contentType: 'application/json',
        success: function (res) {
          if (res.code === "200") {
            swal('更新成功', '更新成功', 'success');
            userData.tel = $('#phone').val();
            userData.email = $('#email').val();
            userData.cardID = $('#id-card').val();
            userData.intro = $('#intro').val();
            localStorage.setItem('user', JSON.stringify(userData));
          } else {
            swal('更新失败', res.msg, 'error');
          }
        },
        error: function () {
          alert('更新失败');
        }
      })
    }
  })

</script>

</html>