<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <title>商城-首页</title>
</head>
<body class="d-flex flex-column justify-content-between min-vh-100">

<th:block th:replace="~{modules/header.html}"></th:block>

<main class="flex-grow-1">
  <div class="container mt-3">
    <div class="d-flex flex-wrap">
      <div class="col-md-4 px-2 mt-3">
        <div class="card">
          <img src="https://qiniu.waite.wang/202401222127418.png" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-text text-ellipsis">百花齐放多种组合自由好看各种主题定制</h5>
            <p class="card-text">
              $: 12.22元 <br>
              库存: 27件
            </p>
            <button class="btn btn-danger">加入购物车</button>
          </div>
        </div>
      </div>
      <div class="col-md-4 px-2 mt-3">
        <div class="card">
          <img src="https://qiniu.waite.wang/202401172241971.png" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-text text-ellipsis">百花齐放多种组合自由好看各种主题定制</h5>
            <p class="card-text">
              $: 12.22元 <br>
              库存: 27件
            </p>
            <button class="btn btn-danger">加入购物车</button>
          </div>
        </div>
      </div>
      <div class="col-md-4 px-2 mt-3">
        <div class="card">
          <img src="https://qiniu.waite.wang/202401172241971.png" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-text text-ellipsis">百花齐放多种组合自由好看各种主题定制</h5>
            <p class="card-text">
              $: 12.22元 <br>
              库存: 27件
            </p>
            <button class="btn btn-danger">加入购物车</button>
          </div>
        </div>
      </div>
      <div class="col-md-4 px-2 mt-3">
        <div class="card">
          <img src="https://qiniu.waite.wang/202401172241971.png" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-text text-ellipsis">百花齐放多种组合自由好看各种主题定制</h5>
            <p class="card-text">
              $: 12.22元 <br>
              库存: 27件
            </p>
            <button class="btn btn-danger">加入购物车</button>
          </div>
        </div>
      </div>
      <div class="col-md-4 px-2 mt-3">
        <div class="card">
          <img src="https://qiniu.waite.wang/202401172241971.png" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-text text-ellipsis">百花齐放多种组合自由好看各种主题定制</h5>
            <p class="card-text">
              $: 12.22元 <br>
              库存: 27件
            </p>
            <button class="btn btn-danger">加入购物车</button>
          </div>
        </div>
      </div>
      <div class="col-md-4 px-2 mt-3">
        <div class="card">
          <img src="https://qiniu.waite.wang/202401222127418.png" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-text text-ellipsis">百花齐放多种组合自由好看各种主题定制</h5>
            <p class="card-text">
              $: 12.22元 <br>
              库存: 27件
            </p>
            <button class="btn btn-danger">加入购物车</button>
          </div>
        </div>
      </div>
      <div class="col-md-4 px-2 mt-3">
        <div class="card">
          <img src="https://qiniu.waite.wang/202401222127418.png" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-text text-ellipsis">百花齐放多种组合自由好看各种主题定制</h5>
            <p class="card-text">
              $: 12.22元 <br>
              库存: 27件
            </p>
            <button class="btn btn-danger">加入购物车</button>
          </div>
        </div>
      </div>
      <div class="col-md-4 px-2 mt-3">
        <div class="card">
          <img src="https://qiniu.waite.wang/202401222127418.png" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-text text-ellipsis">百花齐放多种组合自由好看各种主题定制</h5>
            <p class="card-text">
              $: 12.22元 <br>
              库存: 27件
            </p>
            <button class="btn btn-danger">加入购物车</button>
          </div>
        </div>
      </div>
      <div class="col-md-4 px-2 mt-3">
        <div class="card">
          <img src="https://qiniu.waite.wang/202401222127418.png" class="card-img-top" alt="...">
          <div class="card-body text-center">
            <h5 class="card-text text-ellipsis">百花齐放多种组合自由好看各种主题定制</h5>
            <p class="card-text">
              $: 12.22元 <br>
              库存: 27件
            </p>
            <button class="btn btn-danger">加入购物车</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<th:block th:replace="~{modules/footer.html}"></th:block>

</body>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<style>
    .card-img-top {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .text-ellipsis {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
</style>
</html>