<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
  <title>商城-注册</title>
</head>
<body>
<div class="container d-flex justify-content-center align-items-center vh-100">
  <!-- 居中 -->
  <div class="form row col-10 col-md-8 col-lg-6">
    <div class="form-horizontal" id="register_form">
      <h3 class="form-title text-center">注册页面</h3>
      <form class="row needs-validation mt-3" novalidate>
        <div class="form-group row d-flex align-items-center">
          <label for="username" class="form-label col-sm-2">账号名</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="username" placeholder="请输入账号名" required>
            <div class="valid-feedback">
              账户名可用
            </div>
            <div class="invalid-feedback">
              请输入账号名
            </div>
          </div>
        </div>
        <div class="form-group row mt-2 d-flex align-items-center">
          <label for="password" class="form-label col-sm-2">密码</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="password" placeholder="请输入密码" required>
            <div class="invalid-feedback">
              请输入密码
            </div>
          </div>
        </div>
        <div class="form-group row mt-2 d-flex align-items-center">
          <label for="password2" class="form-label col-sm-2">确认密码</label>
          <div class="col-sm-10">
            <input type="password" class="form-control" id="password2" placeholder="请输入密码" required>
            <div class="invalid-feedback">
              请输入密码
            </div>
          </div>
        </div>
        <div class="form-group row mt-2 d-flex align-items-center">
          <label for="phone" class="form-label col-sm-2">手机</label>
          <div class="col-sm-10">
            <div class="input-group">
              <input type="text" class="form-control" id="phone" placeholder="请输入手机号码" required>
              <button class="btn btn-outline-secondary" type="button" onclick="getVerificationCode()" id="code-text">获取验证码</button>
            </div>
          </div>
        </div>
        <div class="form-group row mt-2 d-flex align-items-center">
          <label for="verification" class="form-label col-sm-2">验证码</label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="verification" placeholder="验证码为1234" required>
            <div class="invalid-feedback">
              请输入验证码
            </div>
          </div>
        </div>
        <div class="col-12 mt-3 text-center">
          <button class="btn btn-primary col-10" type="submit">注册</button>
        </div>
        <div class="col-12 mt-3">
          <a href="/login" class="btn btn-link col-12">已有账号?点击登录</a>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
<script>
  const getVerificationCode = () => {
    const codeText = $("#code-text");
    const phone = $("#phone").val();

    // phone 为空
    if (!phone) {
      alert("请输入手机号码");
      return;
    }

    // 60 s 倒计时
    let time = 60;
    codeText.attr("disabled", true);
    const timer = setInterval(() => {
      time--;
      codeText.text(time + "s");
      if (time <= 0) {
        clearInterval(timer);
        codeText.text("获取验证码");
        codeText.attr("disabled", false);
      }
    }, 1000)
  }
  
  const forms = document.querySelectorAll('.needs-validation')

  Array.from(forms).forEach(form => {
    console.log(form)
    form.addEventListener('submit', event => {
      if (!form.checkValidity()) {
        event.preventDefault()
        event.stopPropagation()
      }
      form.classList.add('was-validated')
    }, false)
  })

  $("#register_form").submit(function (event) {
    event.preventDefault()

    // get data
    const username = $("#username").val()
    const password = $("#password").val()
    const password2 = $("#password2").val()
    const phone = $("#phone").val()
    const verification = $("#verification").val()

    if (password !== password2) {
      alert("两次密码不一致")
    }

    if (verification !== "1234") {
      alert("验证码错误")
    }

    // submit
    $.ajax({
      url: "/api/user/register",
      type: "post",
      data: JSON.stringify({
        username: username,
        password: password,
        tel: phone
      }),
      contentType: "application/json",
      success: function (data) {
        if (data.code !== "200") {
          alert(data.msg)
        }
        else {
          // login
          $.ajax({
            url: "/api/user/login",
            type: "post",
            data: JSON.stringify({
              username: username,
              password: password
            }),
            contentType: "application/json",
            success: function (data) {
              if (data.code !== "200") {
                alert(data.msg)
                return
              }
              // set local storage
              localStorage.setItem('user', JSON.stringify(data.data));
              // redirect
              window.location.href = "/"
            },
            error: function () {
              alert("登录失败, 请重新尝试")
            }
          })
        }
      },
      error: function () {
        alert("注册失败, 请重新尝试")
      }
    })

    console.log("submit")
  })
</script>

</html>