<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>商品详情</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body class="d-flex flex-column justify-content-between min-vh-100">

<th:block th:replace="~{modules/header.html}"></th:block>

<main class="flex-grow-1 mt-5">

</main>

<th:block th:replace="~{modules/footer.html}"></th:block>
</body>
<script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
</html>