<!DOCTYPE html>
<html lang="en">
<footer class="footer">
  <div class="border-top my-5"></div>
  <div class="container">
    <div class="row">
      <div class="col-md mb-4 mb-md-0">
        <h3>关于公司</h3>
        <ul class="list-unstyled nav-links mx-1">
          <li><a href="#">公司简介</a></li>
          <li><a href="#">可持续发展</a></li>
          <li><a href="#">信任中心</a></li>
          <li><a href="#">管理层信息</a></li>
          <li><a href="#">招贤纳士</a></li>
          <li><a href="#">供应商</a></li>
        </ul>
      </div>
      <div class="col-md mb-4 mb-md-0">
        <h3>技术支持</h3>
        <ul class="list-unstyled nav-links mx-1">
          <li><a href="#">消费者技术支持</a></li>
          <li><a href="#">商城云技术支持</a></li>
          <li><a href="#">运营商技术支持</a></li>
          <li><a href="#">产品安全通告</a></li>
        </ul>
      </div>
      <div class="col-md-4 mb-4 mb-md-0">
        <h3>联系我们</h3>
        <p class="mb-3">你可以通过以下方式联系我们:</p>
        <img src="/images/qr-code.png" alt="二维码" class="col-3 mx-1">
      </div>
    </div>
  </div>
</footer>

<style>
  .footer {
    padding: 3rem 0;
    color: #8c8c8c;
  }

  .nav-links li {
    display: block;
    margin-bottom: 10px;
  }

  .footer .nav-links li a {
    color: #8c8c8c;
    text-decoration: none;
  }
</style>
</html>