<!DOCTYPE html>
<html lang="en">
<body>
<div class="sidebar col-md-3 d-flex justify-content-center h-100 mt-3">
  <ul class="nav nav-pills d-flex flex-column border col-12 col-md-8">
    <li class="nav-item border">
      <a class="nav-link disabled" href="#">会员中心</a>
    </li>
    <li class="nav-item border">
      <a class="nav-link" href="/centerInfo">个人信息</a>
    </li>
    <li class="nav-item border">
      <a class="nav-link" href="/centerPassword">密码管理</a>
    </li>
    <li class="nav-item border">
      <a class="nav-link" href="/centerAvatar">头像管理</a>
    </li>
    <li class="nav-item border d-flex align-items-center justify-content-between">
      <a class="nav-link w-100 d-flex justify-content-between align-items-center" href="/centerOrders">
        我的订单
        <span class="badge text-bg-secondary rounded-pill h-50 me-2">3</span>
      </a>
    </li>
    <li class="nav-item border">
      <a class="nav-link" href="/centerAddress">地址管理</a>
    </li>
    <li class="nav-item border">
      <a class="nav-link" href="/manageType">后台管理</a>
    </li>
    <li class="nav-item border">
      <a class="nav-link disabled" href="#">会员通知</a>
    </li>
  </ul>
</div>
<script>
  const url = window.location.pathname;
  const navs = document.querySelectorAll('.nav-link');
  navs.forEach(nav => {
    if (nav.getAttribute('href') === url) {
      nav.classList.add('active');
    }
  });
</script>
</body>
<style>
  .sidebar .active {
    border-radius: 0;
  }
</style>
</html>