<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sprdemo.mapper.CategoryMapper">


    <insert id="insert" parameterType="com.example.sprdemo.model.Category">
        insert into category (aname, code, pid, isShow)
        values (#{aname}, #{code}, #{pid}, #{isShow})
    </insert>
    <update id="updateById">
        update category
        <set>
            <if test="aname != null">
                aname = #{aname},
            </if>
            <if test="isShow != null">
                isShow = #{isShow},
            </if>
            <if test="pid != null">
                pid = #{pid},
            </if>
            <if test="code != null">
                code = #{code},
            </if>
        </set>
        where id = #{id}
    </update>

    <select id="selectAll" resultType="com.example.sprdemo.model.Category">
        select *
        from category
        <where>
            <if test="aname != null and aname != ''">
                and aname like concat('%', #{aname}, '%')
            </if>
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="code != null and code != ''">
                and code = #{code}
            </if>
            <if test="id != null and id != ''">
                and pid = #{pid}
            </if>
            <if test="isShow != null and isShow != ''">
                and isShow = #{isShow}
            </if>
        </where>
    </select>
    <select id="selectByCode" resultType="com.example.sprdemo.model.Category">
        select * from category where code = #{code}
    </select>
    <select id="selectByName" resultType="com.example.sprdemo.model.Category">
        select * from category where aname = #{name}
    </select>


</mapper>