<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.sprdemo.mapper.GoodsMapper">


    <resultMap id="goodsResultMap" type="com.example.sprdemo.model.Goods">
        <id column="id" property="id"/>
        <result column="keywords" property="keywords"/>
        <result column="code" property="code"/>
        <result column="spec" property="spec"/>
        <result column="ch_spec" property="chSpec"/>
        <result column="in_price" property="inPrice"/>
        <result column="out_price" property="outPrice"/>
        <result column="stock" property="stock"/>
        <result column="imgUrl" property="imgUrl"/>
        <result column="product_id" property="productId"/>
    </resultMap>

    <insert id="insertGoods">
        INSERT INTO goods (keywords, code, spec, ch_spec, in_price, out_price, stock, imgUrl, product_id)
        VALUES (#{keywords}, #{code}, #{spec}, #{chSpec}, #{inPrice}, #{outPrice}, #{stock}, #{imgUrl}, #{productId})
    </insert>

    <select id="selectAllGoods" resultMap="goodsResultMap">
        SELECT * FROM goods
        <where>
            <if test="id != null and id != ''">
                AND id = #{id}
            </if>
            <if test="keywords != null and keywords != ''">
                AND keywords like concat('%',#{keywords},'%')
            </if>
            <if test="code != null and code != ''">
                AND code = #{code}
            </if>
            <if test="spec != null and spec != ''">
                AND spec = #{spec}
            </if>
            <if test="chSpec != null and chSpec != ''">
                AND ch_spec = #{chSpec}
            </if>
            <if test="inPrice != null and inPrice != ''">
                AND in_price = #{inPrice}
            </if>
            <if test="outPrice != null and outPrice != ''">
                AND out_price = #{outPrice}
            </if>
            <if test="stock != null and stock != ''">
                AND stock = #{stock}
            </if>
            <if test="imgUrl != null and imgUrl != ''">
                AND imgUrl = #{imgUrl}
            </if>
            <if test="productId != null and productId != ''">
                AND product_id = #{productId}
            </if>
        </where>
    </select>

    <select id="selectByOrdersId" resultType="com.example.sprdemo.model.GoodsDao">
        select * , p.dname as productName , p.intro as described
        from orderitem o
        join goods g
            on o.goods_id = g.id
        join product p
            on g.product_id = p.id
        where o.orders_id = #{ordersId}
    </select>

</mapper>